name: Reusable Docker Build (Github)

on:
  workflow_call:
    inputs:
      image-name:
        required: true
        type: string
      context:
        required: true
        type: string
      version:
        required: false
        type: string
        default: latest
      build-args:
        required: false
        type: string
      dry-run:
        required: false
        type: boolean
        default: false
    outputs:
      version:
        value: ${{ inputs.version }}
      sha-tag:
        description: "The image version that was built"
        value: ${{ inputs.version }}-${{ jobs.build.outputs.short-sha }}
      metadata:
        description: Metadata for built image
        value: ${{ jobs.docker-build.outputs.metadata }}

jobs:
  build:
    runs-on: ubuntu-24.04
    outputs:
      short-sha: ${{ steps.short-sha.outputs.sha }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: benjlevesque/short-sha@v2.2
        id: short-sha
        with:
          length: 6

      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        id: build-docker
        with:
          context: ${{ inputs.context }}
          file: ${{ inputs.context }}/Dockerfile
          push: ${{ !inputs.dry-run }}
          tags: |
            ghcr.io/${{ github.actor }}/${{ inputs.image-name }}:${{ inputs.version }}-${{ steps.short-sha.outputs.sha }}
            ghcr.io/${{ github.actor }}/${{ inputs.image-name }}:${{ inputs.version }}-latest
          build-args: ${{ inputs.build-args }}