name: Golang test and linting

on:
  workflow_call:
    inputs:
      test-flags:
        required: false
        type: string
        default: '-v'
      working-directory:
        required: false
        type: string
        default: '.'
      disable-linter:
        required: false
        type: boolean
        default: false
      setup-action:
        required: false
        type: string
        default: 'setup-go-env'
      actions-branch:
        required: false
        type: string
        default: 'main'
      packages:
        required: false
        type: string
        default: './...'
      exclude-regex:
        required: false
        type: string
        default: 'integration|crds/generated'


jobs:
  run-unit-test:
    name: Run unit tests
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Get actions
        if: ${{ !env.ACT }}
        run: |
          git clone --branch ${{ inputs.actions-branch }} "$GITHUB_SERVER_URL/spigell/my-shared-workflows" ./.github/actions_ext

      - name: Install Act dependencies
        if: ${{ env.ACT }}
        uses: ./.github/actions/setup-act-env

      - name: Setup Basic env
        if: ${{ inputs.setup-action == 'setup-go-env' }}
        uses: ./.github/actions_ext/.github/actions/setup-go-env
        with:
          working-directory: ${{ inputs.working-directory }}

      - name: Setup Pulumi Go env
        if: ${{ inputs.setup-action == 'setup-pulumi-env' }}
        uses: ./.github/actions_ext/.github/actions/setup-pulumi-env
        with:
          runtime: go
          working-directory: ${{ inputs.working-directory }}

      - name: Run unit tests
        run: |
          cd ${{ inputs.working-directory }}
          set -o pipefail
          pkgs=$(go list ${{ inputs.packages }} || true)
          echo "Packages before filtering: $pkgs"
          if [ -n "${{ inputs.exclude-regex }}" ]; then
            pkgs=$(echo "$pkgs" | grep -Ev "${{ inputs.exclude-regex }}" || true)
          fi
          echo "Allowed packages: $pkgs"
          if [ -n "$pkgs" ]; then
            go test ${{ inputs.test-flags }} $pkgs
          else
            echo "No packages to test, skipping."
          fi
        

  run-linter:
    name: Run linter
    if: ${{ !inputs.disable-linter }}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Get actions
        if: ${{ !env.ACT }}
        run: |
          git clone --branch ${{ inputs.actions-branch }} "$GITHUB_SERVER_URL/spigell/my-shared-workflows" ./.github/actions_ext

      - name: Install Act dependencies
        if: ${{ env.ACT }}
        uses: ./.github/actions/setup-act-env

      - name: Setup Basic env
        if: ${{ inputs.setup-action == 'setup-go-env' }}
        uses: ./.github/actions_ext/.github/actions/setup-go-env
        with:
          working-directory: ${{ inputs.working-directory }}

      - name: Setup Pulumi Go env
        if: ${{ inputs.setup-action == 'setup-pulumi-env' }}
        uses: ./.github/actions_ext/.github/actions/setup-pulumi-env
        with:
          runtime: go
          working-directory: ${{ inputs.working-directory }}

      - name: Run the golangci linter
        uses: golangci/golangci-lint-action@v9
        with:
          skip-cache: true
          working-directory: ${{ inputs.working-directory }}
          args: --timeout=10m
          version: v2.6.2
