name: Local CI Test (Golang)

on:
  push:

jobs:
  basic-workflow:
    uses: ./.github/workflows/golang-test-lint.yaml
    with:
      working-directory: 'testdata/golang'
  pulumi-workflow:
    uses: ./.github/workflows/golang-test-lint.yaml
    with:
      setup-action: 'setup-pulumi-env'
      pulumi-version-file: testdata/golang/.pulumi.version
      working-directory: 'testdata/golang'
