name: Python test and linting

on:
  workflow_call:
    inputs:
      working-directory:
        required: false
        type: string
        default: '.'
      python-version:
        required: false
        type: string
        default: '3.13.7'
      requirements-file:
        required: false
        type: string
        default: 'requirements.txt'
      disable-linter:
        required: false
        type: boolean
        default: false
      actions-branch:
        required: false
        type: string
        default: 'main'

jobs:
  run-unit-test:
    name: Run unit tests
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Get actions
        if: ${{ !env.ACT }}
        run: |
          git clone --branch ${{ inputs.actions-branch }} "$GITHUB_SERVER_URL/spigell/my-shared-workflows" ./.github/actions_ext
      - name: Install Act dependencies
        if: ${{ env.ACT }}
        uses: ./.github/actions/setup-act-env
      - name: Setup Python env
        uses: ./.github/actions_ext/.github/actions/setup-python-env
        with:
          python-version: ${{ inputs.python-version }}
          working-directory: ${{ inputs.working-directory }}
          requirements-file: ${{ inputs.requirements-file }}
      - name: Run unit tests
        run: |
          cd ${{ inputs.working-directory }}
          poetry run pytest

  run-linter:
    name: Run linter
    if: ${{ !inputs.disable-linter }}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Get actions
        if: ${{ !env.ACT }}
        run: |
          git clone --branch ${{ inputs.actions-branch }} "$GITHUB_SERVER_URL/spigell/my-shared-workflows" ./.github/actions_ext
      - name: Install Act dependencies
        if: ${{ env.ACT }}
        uses: ./.github/actions/setup-act-env
      - name: Setup Python env
        uses: ./.github/actions_ext/.github/actions/setup-python-env
        with:
          python-version: ${{ inputs.python-version }}
          working-directory: ${{ inputs.working-directory }}
          requirements-file: ${{ inputs.requirements-file }}
      - name: Run ruff
        uses: astral-sh/ruff-action@v3
        with:
          version: '0.14.7'
          src: ${{ inputs.working-directory }}
